*{
 margin:0;
 font-family:Arial;
 font-weight:bold;
 padding:0;
}

form {
    margin-top:5%;
    
}

fieldset{
  background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
}

#fieldset1 /*(Login)*/ {   
    padding: 20px, 20px 0 20px;
    width:30%;
}

#fieldset1 td {
  color: Black;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
#fieldset1 input {
  background: White;
  border: 1px solid #c6c7cc;
  color: #636466;
  padding: 6px;
  margin-top: 6px; 
}

#fieldset2 { /*(Login)*/
  border-top: 1px solid #c6c7cc;
  padding: 20px;
  width:27.5%;
}
 
 .btn {
  background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5)); 
  border: 0;
  color:Black;
  cursor: pointer;
  font-weight: bold;
  
  padding: 8px 16px;
}

.fieldset2 td {
  color: Black;
  font-size: 12px;
  float:left;
  margin: 10px 0 0 20px;
}

.users_cell {
     border: 1px solid olive;
     padding: 15px;
     color: black;
}

.sidemenu {
    width:11%;
    background-color: gray; 
    height:100%;
    position:fixed;
} 
 
.sidemenu ul {
  padding-left:0px;       
}

.sidemenu ul li {
  border-bottom:1px solid black;
  padding:20px;
  display: block;
  list-style-type: none;
}

.sidemenu ul li a {    
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.sidemenu ul li:hover {
    background-color: #555;   
}

body {
   background-image:url("../Images/Background.jpg");
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:center;
   background-size: cover;     
}

url {
    z-index:-1;
 }
.topmenu {
   margin:0 auto;
}

 .topmenu ul {
    list-style-type:none;
    overflow: hidden;
    background-color: #333;     
 }
 
 .topmenu ul li {
    float: left;
    width:14%;
}

.topmenu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topmenu ul li a:hover {
    background-color: #111;
}
#div1
{
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    margin-top:15px;
    width:35%;
}
    
.div1 /*(Register,Login,AboutTheGame (and its sub menu))*/ {
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    margin-top:5%;
    width:35%;
    font-size:20px;
}
.div2
{
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    width:35%;
    font-size:20px;
    margin-top:30px
}

.images { 
    width:150px;
    height:150px;
    vertical-align:top;
    margin-right:50px;
}

.fieldset3 /*(Register)*/ {
    margin-top:5%;
    width:60%;
    padding:50px;
    
}

#td1 /*(Register)*/ {
    vertical-align:top;  
}

.CompetetiveDiv
{
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    margin-top: 10px;
    height:auto;
}


.OnlineDiv
{
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    margin-top: 10px;
    height: auto;
    width:80%;
    margin-left:100px;
}
#maindiv{
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    margin-top: 10%;
    height: 45px;
}
.maindiv2{
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    height: 45px;
}

#marquee{
 animation:marquee 1s ease-out;
}
@keyframes marquee{
0%   { 
 transform: translateX(100%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}
#marquee1{
 animation: marquee1 2.5s ease-out;
}
@keyframes marquee1 {
0%   { 
 transform: translateX(100%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}
#marquee2 {
 animation: marquee2 4s ease-out;
}
@keyframes marquee2 {
0%   { 
 transform: translateX(100%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #333;
   width: 225px;
        }
        .dropdown-content a {
            color: black;
            padding: 13px 14px;
            text-decoration: none;
            display: block;
        }

        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdownbutton {
            background-color: #4CBF48;
            color: white;
            padding: 15px;
            font-size: 15px;
            border: none;
            cursor: pointer;
        }

.AboutTheGameMainDiv
{
    width:80%;
    height:auto;    
}
.AboutTheGameDiv
{
    height:auto;
    background: linear-gradient(rgba(109, 109, 109,0.5) , rgba(255, 255, 255, 0.5));
    margin-top: 10px;
}